@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  width: 100%;
  background: #f7f8f8;
}
